<template>
  <button
    class='p-2 font-bold bg-red-600 rounded-md ring-4 ring-red-700'
    @click='$emit("click")'
  >
    {{ label }}
  </button>
</template>

<script>
export default {
  name: 'ActionButton',

  props: {
    label: String
  }
}
</script>
