<template>
  <div class='flex flex-row my-6 justify-between items-center'>
    <span class='text-red-600 font-bold'>{{ label }}</span>
    <input
      :type='inputType'
      :value="value"
      @input="$emit('input', $event.target.value)"
      class='mx-4 p-1 bg-red-300 border-2 border-red-400 rounded-lg'
    />
  </div>
</template>

<script>
export default {
  name: 'BaseInput',

  props: {
    inputType: String,
    value: String,
    label: String
  }
}
</script>

