<template>
  <button
    class='p-2 font-bold bg-white rounded-md ring-4 ring-red-300'
    @click='$emit("click")'
  >
    Clear
  </button>
</template>

<script>
export default {
  name: 'ClearButton'
}
</script>
