<template>
  <div class='rounded-xl ring-4 ring-red-400 bg-black p-8 flex flex-row text-white font-black'>
    <h3 v-if='$fetchState.pending' class='text-white text-center font-black'>Carregando...</h3>

    <template v-else>
      <div v-if='!isResourceOwner' class='flex flex-col text-center'>
        <h3>Error!</h3>
        <h2>{{ errorMessage }}</h2>
      </div>

      <div v-else class='flex flex-row'>
        <img
          src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairTheCaesar&accessoriesType=Kurt&hatColor=Blue01&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&clotheColor=Pink&eyeType=WinkWacky&eyebrowType=Angry&mouthType=Default&skinColor=Black'
        />
        <div class='flex flex-col justify-around'>
          <h2 class='text-white text-center font-black'>{{ user.email }}</h2>
          <h2 class='text-white text-center font-black'>{{ user.username }}</h2>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'Profile',

  middleware({ store, redirect }) {
    if (store.state.userToken === '') {
      redirect('/sign-up');
    }
  },

  data() {
    return {
      isResourceOwner: false,
      user: {},
      errorMessage: '',
    };
  },

  async fetch() {
    try {
      const response = await this.$axios.get(`/600/users/${this.$route.params.id}`, {
        headers: { Authorization: `Bearer ${this.userToken}` }
      });

      this.user = response.data;
      this.isResourceOwner = true;
    } catch (errorResponse) {
      this.errorMessage = errorResponse.response.data;
    }

  },

  computed: {
    ...mapState(['userToken']),
  }
}
</script>

