<template>
  <div class='rounded-xl ring-4 ring-red-400 bg-black p-8 flex flex-col'>
    <h3 class='text-white text-center font-black'>Sign In</h3>

    <BaseInput v-model='form.email' input-type='email' label='Email' />
    <span v-if='formErrors.email !== ""' class='text-white'>
      {{ formErrors.email }}
    </span>

    <BaseInput v-model='form.password' input-type='password' label='Password' />
    <span v-if='formErrors.password !== ""' class='text-white'>
      {{ formErrors.password }}
    </span>

    <div v-if='!isEntering' class='flex flex-row justify-around my-4'>
      <ClearButton @click='clearForm' />
      <ActionButton @click='loginUser' label='Login'/>
    </div>
    <span v-else class='text-white font-bold'>Entrando. Aguarde...</span>

    <NuxtLink to='/sign-up' class='text-white active:text-gray-200 text-center'>
      Not an user yer? Sign up now!
    </NuxtLink>
  </div>
</template>

<script>
import BaseInput from '~/components/BaseInput';
import ActionButton from '~/components/ActionButton';
import ClearButton from '~/components/ClearButton';

export default {
  name: 'sign-in',

 components: { BaseInput, ActionButton, ClearButton },

  data() {
    return {
      isEntering: false,
      form: {
        email: '',
        password: ''
      },
      formErrors: {
        email: '',
        password: ''
      }
    };
  },

  methods: {
    clearForm() {
      for (const input in this.form) {
        this.form[input] = '';
      }
    },

    clearCurrentErrors() {
      for (const field in this.formErrors) {
        this.formErrors[field] = '';
      }
    },

    isValidForm() {
      let isValid = true;
      this.clearCurrentErrors();
      if (!this.form.email.match(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/)) {
        this.formErrors.email = 'The email field is required and should be valid.';
        isValid = false;
      }

      if (!this.form.password.match(/\b[A-z0-9]{8,32}\b/)) {
        this.formErrors.password = 'The password is required, must be alphanumeric and contains between 8 to 32 chars.';
        isValid = false;
      }

      return isValid;
    },

    async loginUser() {
      if (this.isEntering) return;
      if (!this.isValidForm()) return;

      this.isEntering = true;
      try {
        const response = await this.$axios.post('/login', this.form);
        const token = response.data.accessToken;
        const decodedToken = JSON.parse(atob(token.split('.')[1]));
        const user = {
          id: parseInt(decodedToken.sub),
          email: this.form.email
        };

        this.$store.commit('setUserToken', token);
        this.$store.commit('setUserInfo', user);
        await this.$router.push(`/users/${user.id}`);
      } catch (exception) {
        this.formErrors.email = `Cannot find user`;
        this.clearForm();
      } finally {
        this.isEntering = false;
      }
    }
  }

}
</script>

